# Sanity Configuration
SANITY_PROJECT_ID=gnppn7qx
SANITY_DATASET=production
SANITY_API_VERSION=2024-07-01
NEXT_PUBLIC_SANITY_PROJECT_ID=gnppn7qx
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-07-01

# Sanity Tokens
SANITY_TOKEN=your_sanity_token_here
SANITY_READ_TOKEN=your_sanity_read_token_here

# Stripe Configuration  
STRIPE_SECRET_KEY=your_stripe_secret_key_here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here

# EmailJS Configuration
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key_here
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_emailjs_service_id_here


# Admin Configuration
ADMIN_PASS=your_admin_password_here

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://haybahcollections.co.uk
